

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
.inactive {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid gray;
  }

  .menu {
    display: none;
  }

  .logo {
    padding: 5px;
    width: 50px;
    height: 50px;
  }

  .navbar-lef ul,
  .navbar-right ul {  
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 55px;
  }
  .navbar-left {
    display: flex;
   
  }
  .navbar-lef ul {
    margin-left: 14px;
    font-size: 14px;
  }
  .navbar-right ul {
    display: flex;
    margin-right: 14px;
    font-size: 14px;
  }

  .navbar-lef ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: gray;
    border: 1px solid whitesmoke;
    padding: 8px;
    border-radius: 10px;
  }

  .navbar-lef ul li a:hover,
  .navbar-right ul li a:hover {
    border: 1px orange;
    color: orange;
  }
  .navbar-email {    
    color: gray;
    cursor: pointer;
    font-size: 14px;
    margin-right: 12px;
    
  }

  .navbar-shoping-cart {
    position: relative;
  }

  .navbar-shoping-cart img {
  width: 35px;
  height: 35px;
  position: relative;   
  }

  .menu-escritorio {
    position: absolute;
    top: 60px;
    right: 60px;
    background: white;
    width: 100px;
    height: auto;
    border: 1px solid rgba(111, 255, 0, 0.349);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
  }
  .menu-escritorio ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu-escritorio ul li {
    text-align: end;
  }
  .menu-escritorio ul li:nth-child(1),
  .menu-escritorio ul li:nth-child(2) {
    font-weight: bold;
  }
  .menu-escritorio ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid greenyellow;
  }
  .menu-escritorio ul li:last-child a {
    color: gray;
    font-size: 14px;
  }
  .menu-escritorio ul li a {
    color: rgba(0, 0, 0, 0.808);
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
  }